
.side {
    -webkit-transition: border-radius .5s ease-in, width .2s ease-out, background-color .2s linear, padding .3s ease margin .4s ease;
    transition: border-radius .5s ease-in, width .2s ease-out, background-color .2s linear, margin .4s ease, padding .3s ease;
    -moz-transition: border-radius .5s ease-in, width .2s ease-out, background-color .2s linear, margin .4s ease, padding .3s ease;
    -o-transition: border-radius .5s ease-in, width .2s ease-out, background-color .2s linear, margin .4s ease, padding .3s ease;
 
    width: 75%;
    height: 50%;
    
    border-radius: 10px;

    margin: 10% 10%;

    background-color: rgb(215,92,55);
    overflow: hidden;
}

.side p, .side a {
    transition: margin .3s ease-in-out;
    float: left;
    margin: 2%;
    text-align: center;

    color : grey;
    
    text-decoration: none;
    font-size: 150%;
}



.TITLE {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;    
    text-align: center;
    margin: 2% 5%;
    margin-top: 5%;
}

.imgVieuw {
    float:left;
    width: 68;
    height: 60%;
    overflow: hidden;
}

.gameInfo {
    margin: 5%;
    font-size: 1.3pc;    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;

    border-width: 5px;
}

.gameInfoBlack {
        margin: 5%;
    font-size: 1.3pc;    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;

    border-width: 5px;
}