.scrollPart {
    background-color: orange;
    height: 800px;
    overflow-y: scroll;
}

.AboutText p {
    font-size: 130%;
    padding: 1.5% 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.AboutText h1 {
    font-size: 150%;
}

.AboutText a {
    color: black;
}

.RotateLeft {
    margin-top: 18%;
    margin-left: 5%;
    position: relative;
    height: 5%;
    width: 5%;

    border-radius: 30%;
    
}

.RotateRight {
    margin-top: 18%;
    margin-right: 5%;
    float: right;
    position: relative;    
    height: 5%;
    width: 5%;

    border-radius: 30%;
    
}

.RotateTiles {
    position: absolute;
    box-shadow: 0px 0px 50px white ;
    overflow: hidden;
}

.RotateTiles .TitleBox {
    margin: 3%;
    
    font-size: 300%;
    text-align:  center;
    border-radius: 20px;
    min-width: 100px;
    
    color: white;
}

.RotateTiles .TitleBox p {
    font-size: 40%;
    margin: 10%;
    color : white;
}

.RotateTiles .TitleBox a {
    color: white;
    text-decoration: none;
    font-size: 40%;
}


.RotateTiles .ContentInfo {
    width: 95%;
    height: 54%;
    margin: 15px;
    
    overflow: hidden;
    font-size: 150%;
    font-family: monospace;  

    color: white;  
}

.RotateTiles .ContentInfo p {
    float: left;
    margin: 3%;

    color: white;
}    

.jsShower {
    position: absolute;
    box-shadow: 0px 0px 50px rgb(243, 134, 48) ;
    overflow: hidden;
}

 .colmnBigRight {
    float: left;
    margin: 0;
    width: 80%;
    height: 800px;

}

#WorkSpace {
    z-index: -3;
}

div {
    /* inset shadow for visual aid only: allow to easily see the div boundaries */
    box-shadow: 0 0 1px black inset;
}

.contact {
    font-size: 200%;
}
